In [3]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [2]:
houses = pd.read_csv("1.4_houses.csv")
houses.head(17)

    dim_1  dim_2   level   price
0      29     28  luxury  2212.0
1      28     29  luxury  2203.0
2       6      9   basic   254.0
3       5      9   basic   242.0
4       6      6   basic   195.0
5       5      8   basic   200.0
6      27     29  luxury  2108.0
7      23     14  medium   998.0
8       9      5   basic   225.0
9      29     26  luxury  2052.0
10     29     26  luxury  2042.0
11     29     29  luxury  2285.0
12      5      7   basic   170.0
13     21     11  medium   793.0
14     29     27  luxury  2130.0
15      8      9   basic   337.0
16     27     27  luxury  1981.0

In [6]:
# выгружаем признаки и целевые значения в отдельные переменные
X = houses[['dim_1', 'dim_2']]
y = houses['level']

In [7]:
# создаем классификатор
cl = DecisionTreeClassifier().fit(X, y)

In [8]:
# выведем информацию для интерпретации построенной модели
print(export_text(cl))

|--- feature_1 <= 10.00
|   |--- class: basic
|--- feature_1 >  10.00
|   |--- feature_0 <= 25.00
|   |   |--- class: medium
|   |--- feature_0 >  25.00
|   |   |--- class: luxury

In [9]:
# feature_0 -> dim_1
# feature_1 -> dim_2

In [10]:
# проведем классификацию и сравним результат с настоящими значениями 
cl.predict(X[7:8])

array(['medium'], dtype=object)

In [11]:
y[7]

'medium'